services:
  backend:
    container_name: transportation_backend
    build: ./backend
    expose:
      - 8001
    command: bash -c 'uvicorn main:application --host 0.0.0.0 --port 8001 --reload'
    volumes:
      - ./backend:/backend
    restart: always
    env_file: ./backend/.env
    networks:
      - chat-network

networks:
  chat-network:
    driver: bridge
    external: true
